body{
    
}

input {
    margin: 15px;
}

button {
    
}

.adForm{
    float: left;
    &input{
        width: 70%;
    }
    &label {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.5em;
    }
    
}